<%= form_for @customer, :html => { :class => "form-horizontal customer" } do |f| %>

    <% if @customer.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @customer.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :forename, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :forename, :class => 'form-control' %>
    </div>
    <%= error_span(@customer[:forename]) %>
  </div>
  <div class="control-group">
    <%= f.label :surname, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :surname, :class => 'form-control' %>
    </div>
    <%= error_span(@customer[:surname]) %>
  </div>
  <div class="control-group">
    <%= f.label :email, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :email, :class => 'form-control' %>
    </div>
    <%= error_span(@customer[:email]) %>
  </div>
  <div class="control-group">
    <%= f.label :date_of_birth, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :date_of_birth, :class => 'form-control' %>
    </div>
    <%= error_span(@customer[:date_of_birth]) %>
  </div>

  <div class="control-group">
    <%= f.label :street, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :street, :class => 'form-control' %>
    </div>
    <%= error_span(@customer[:street]) %>
  </div>

  <div class="control-group">
    <%= f.label :house_number, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :house_number, :class => 'form-control' %>
    </div>
    <%= error_span(@customer[:house_number]) %>
  </div>

  <div class="control-group">
    <%= f.label :postcode, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :postcode, :class => 'form-control' %>
    </div>
    <%= error_span(@customer[:postcode]) %>
  </div>

  <div class="control-group">
    <%= f.label :country, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :country, :class => 'form-control' %>
    </div>
    <%= error_span(@customer[:country]) %>
  </div>

  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            customers_path, :class => 'btn btn-default' %>

<% end %>
