<%= form_for @ordered_item, :html => { :class => "form-horizontal ordered_item" } do |f| %>

    <% if @ordered_item.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@ordered_item.errors.count, "error") %> prohibited this ordered_item from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @ordered_item.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :quantity, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :quantity, :class => 'form-control' %>
    </div>
    <%= error_span(@ordered_item[:quantity]) %>
  </div>

  <%= f.hidden_field :item_id %>

  <!--<%= f.hidden_field :customer_id, :value => current_customer.id %>-->

  <% if current_customer.try(:admin?) %>

  <div class="row">

  <div class="col-md-2">
    <%= f.label :is_in_process, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :is_in_process, :class => 'checkbox' %>
    </div>
    <%= error_span(@ordered_item[:is_in_process]) %>
  </div>

  <div class="col-md-2">
    <%= f.label :is_dispatched, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :is_dispatched, :class => 'checkbox' %>
    </div>
    <%= error_span(@ordered_item[:is_dispatched]) %>
  </div>

  <div class="col-md-2">
    <%= f.label :is_delivered, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :is_delivered, :class => 'checkbox' %>
    </div>
    <%= error_span(@ordered_item[:is_delivered]) %>
  </div>

  <div class="col-md-2">
    <%= f.label :is_rejected, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :is_rejected, :class => 'checkbox' %>
    </div>
    <%= error_span(@ordered_item[:is_rejected]) %>
  </div>

  <div class="col-md-2">
    <%= f.label :paid, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :paid, :class => 'checkbox' %>
    </div>
    <%= error_span(@ordered_item[:paid]) %>
  </div>
</div>
<% end %>
  <%= f.submit nil, :class => 'btn btn-primary' %>
  <% if current_customer.try(:admin?) %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            ordered_items_path, :class => 'btn btn-default' %>
  <% else %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            items_path, :class => 'btn btn-default' %>
  <%end%>

<% end %>
