<p id="notice"><%= notice %></p>

<p>
  <strong>ID:</strong>
  <%= @item.id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>

<%= image_tag @item.photo.url(:medium) %> <!-- paperclip -->

<h2>Categories:</h2>
<% for category in Category.all %>
  <div>
    <% if @item.categories.include?(category) %>
      <strong><%= category.id %></strong>
    <% end %>
  </div>
<% end %>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
