<!DOCTYPE html>
<html>
<head>
  <title>Shop</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <!-- Info fuer Screenreader -> unsichtbar -->
        <span class="sr-only">Toggle navigation</span>
        <!-- drei leere icon-bars machen den Button mit 3 Strichen -->
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "RailsShop", root_path, class: 'navbar-brand' %>
    </div>

<!--<div id="user_nav">
  <% if customer_signed_in? %>
    Signed in as <%= current_customer.email %>. Not you?
    <%= link_to "Sign out", destroy_customer_session_path, :method => :delete %>
  <% else %>
    <%= link_to "Sign up", new_customer_registration_path %> or <%= link_to "sign in", new_customer_session_path %>
  <% end %>
</div>-->

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <!--<li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>-->

        <li><%= link_to "Categorymanagement", categories_path %></li>
        <li><%= link_to "Orderes", ordered_items_path %></li>
        <li><%= link_to "Customers", customers_path %></li>

<!--TODO-->
        <li><%= link_to "Items", items_path %></li>

        <% if has_any_category_any_items? %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> Categories <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">

          <% for category in Category.all %>
            <% if (has_items?(category)) %>
              <li><%= link_to category.name, items_path( :categories => category.name) %></li>
            <% end %>
          <% end %>
        <% end %>
          </ul>
        </li>

      </ul>


      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <% if customer_signed_in? %>
          <% customer_name = current_customer.forename + " " + current_customer.surname %>
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
          aria-expanded="false"><%= customer_name %><span class="caret"></span></a>
          <% else %>
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
          aria-expanded="false">User<span class="caret"></span></a>
          <% end %>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>

            <% if customer_signed_in? %>
              <li><%= link_to "Change your Data", edit_customer_registration_path %></li>
              <li class="divider"></li>
              <!--<li>Signed in as <%= current_customer.email %>. Not you? -->
              <% str = "Not " + current_customer.forename + " -> sign out!" %>
              <li><%= link_to str, destroy_customer_session_path, :method => :delete %></li>
            <% else %>
              <li><%= link_to "Sign up", new_customer_registration_path %></li>
              <li><%= link_to "Sign in", new_customer_session_path %></li>
            <% end %>
          </ul>
        </li>
      </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>



  <div class="container">
    <div class="row">
      <%= bootstrap_flash %>
      <div class="col-md-12"><%= yield %></div>

    </div>
  </div>

</body>
</html>
